<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SearchEngineSetting" type="EngineConfiguration.SearchEngineSetting, EngineConfiguration" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <SearchEngineSetting isEnabled="true" engineType="ApacheSolr" connectionUrl="http://localhost:8983/solr" />
</configuration>